.input_component{
        width: 100%;
        padding: 10px;
        border-radius: 14px;
        border: 1px solid #3f3d56;
        margin: 12px 0 ;
}

.input_component_error{
    color: red;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
