.loading{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}